@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    background: linear-gradient(to right,pink,lightblue);
}
.container {
    color: white;
    background-color: rgb(65, 75, 95);
    position: relative;
    top: 2%;
    margin: auto;
    width: 50%;
    min-height: 50vh;
    height: auto;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
#title{
    font-size: 2em;
}
.lock {
    position: relative;
    top: 2px;
    color: white;
    font-size: 1em;
}

button ,input[type=button] {
    padding: 6px 25px;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 1s;
    margin: 20px;
    font-size:  1.2em;
}

.input {
    margin: auto;
    border-radius: 4px;
    padding: 8px 0px;
    margin: 15px;
    width: auto;
    min-width: 3em;
    min-width: 20%;
    color: #C1C3C6;
}

*:focus {
    outline: none;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 30px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

.register{
    font-size: 1.2em;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

#register-link:hover, input[type=button]:hover {
    padding: 6px 25px;
    font-weight: bold;
    background: #373E4A;
    color: #C1C3C6;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
    transform: scale(1.2);
}
input[type="text"] {
    outline: none;
    width: 80%;
}

input[type="text"]:focus {
    outline: none;
}

span {
    color: tomato;
    display:none;
    font-size: 1.2em;
}